@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>@ViewBag.Greeting</h1>
        <h3> Wir stellen unser neues Produkt vor.</h3>
        <h3> Und laden Sie ganz herzlich zu unserem Vorstellungsevent ein.</h3>
        <br />
        <div class="btn btn-success">
            @Html.ActionLink("Geben Sie uns Bescheid, ob Sie da sein werden)", "RsvpForm")
        </div>
    </div>
</body>
</html>